@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css?family=Lexend");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lexend', sans-serif;
    background-color: #ecf0f1;
    color:#ecf0f1;
    background-image: url(../assets/bugsMuscular.jpg);
            /*background-color: black;
            background-image: linear-gradient(to bottom, rgba(0,64,128,1), rgba(0,0,0,1));
            width: 100%;
            height: 100vh;*/
    background-size:cover;
    background-position: 0px 50px;
    background-repeat: no-repeat;
    user-select: none;
}

main {
    width: fit-content;
    margin: 20px auto;
}

li, a, button {
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
    background-color: #23252a;
    width: 100%;
    top: 0;
}

header.menu {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 30px;
    top: 0;
}

.menu .logo {
    font-size: 3em;
}

main.menu {
    background-color: #23252a;
    width: fit-content;
    min-width: 400px;
    margin: 10px auto;
    padding: 0px;
    border-radius: 2rem;
    text-align: center;
    overflow: hidden;
    border-bottom: 5px solid black;
}

main.menu li{
    background-color: #23252a;
    list-style: none;
    padding: 0px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

main.menu li a{
    display: block;
    padding: 20px;
}

main.menu li:last-child{
    background-color: rgb(169,0,0);
    border-bottom: none;
}

main.menu li:hover {
    transform: scale(1.1);
    filter:brightness(1.2);
}

.app {
    background-color: #23252a;
    width: auto;
    max-width: 90vw;
    margin: 10px auto;
    padding: 15px;
    border-radius: 2rem;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

input, select{
    background-color: hsl(192, 15%, 90%);
    width: 250px;
    margin: 0;
    padding: 10px;
    border-radius: 2rem;
    border: none;
    font-family: 'Lexend', sans-serif;
    transition: 0.3s ease;
}

input:focus, select:focus {
    background-color: white;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: red;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 5px;
}

.logo:hover {
    transform: scale(1.1);
}

.logo mark {
    text-decoration: none;
    background-color: rgb(0, 0, 0, 0);
    color: #ecf0f1;
}

.navLinks {
    list-style-type: none;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

nav .navLinks li {
    padding: 5px 20px 5px 5px;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px 0px 0px;
    cursor: pointer;
}

main .navLinks li:first-child {
    padding: 0px 20px 0px 0px;;
}

.navLinks li a {
    transition:all 0.3s ease 0s;
    align-items: center;
}

.navLinks li a:hover {
    color: red;
    filter: drop-shadow(0px 3px 1px black);
}

button {
    padding: 9px 25px;
    background-color: rgb(169, 0, 0);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition:all 0.3s ease 0s;
    font-family: 'Lexend';
}

button:hover {
    background-color: rgba(169, 0, 0, 0.8);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}

div.content-table {
    user-select: text;
    background-color: #23252a;
    font-size: 0.9em;
    max-width: 90vw;
    border-radius: 2rem;
    overflow: hidden;
    border:5px solid #23252a;
    text-align: center;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5))
}

table.content-table {
    border-collapse: collapse;
    min-width: 400px;
    width: 100%;
    overflow: auto;
    border-radius: 2rem;
    text-align: center;
}

.content-table thead tr {
    background-color: #23252a;
    color: #ecf0f1;
    text-align: center;
    font-weight: 100;
    user-select: none;
    position: sticky;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    border-bottom: 2px solid #23252a50;
}

.content-table tbody tr {
    border-bottom: grey;
    background-color: #ecf0f1;
    color: #23252a;
    transition: 0.3s ease;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: white;
}

.content-table tbody tr:hover {
    color:red;
}

.modalContainer {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContainer input {
    transition: 0s;
}

.modalContainerOpen {
    visibility: visible;
}

.modalContainer .container {
    padding: 20px;
    color: #23252a;
    background-color:#ecf0f1;
    overflow:auto;
    border-radius: 2em;
    min-width: 450px;
    width: 50%;
    border-bottom: 5px solid #23252a;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

.container form, button, select{
    justify-content: space-between;
    transition: none;
}

.container input {
    margin: 5px;
    min-width: 100px;
    width: calc(100% - 175px);
    border-bottom:2px solid #23252a;
}

.container h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding: 10px;
}

.container label {
    display: inline-block;
    width: 100px;
}

.container select {
    margin: 5px;
    appearance: none;
    width: calc(100% - 175px);
    border-bottom:2px solid #23252a;
}

.container a {
    font-size: .9em;
    padding: 9px 25px;
    background-color: rgb(169, 0, 0);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    float: inline-end;
    text-align: center;
}

.container a:hover {
    background-color: rgba(169, 0, 0, 0.8);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}

.btns {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.btns #enviar-aluno {
    background-color: #23252a;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #23252a;
}